<script>
    import { goto } from '$app/navigation';
</script>

<div class="wrapper">
    <nav>
        <a href="/auth/login" on:click|preventDefault={() => goto('/auth/login')}>Login</a>
        <a href="/auth/register" on:click|preventDefault={() => goto('/auth/register')}>Register</a>
    </nav>

    <slot/>
</div>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        gap: 15px;
        padding: 15px;
        background-color: #09081A;
    }

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
</style>
