<script lang="ts">
    import Headline from "$lib/components/Headline.svelte";
    import Panel from "$lib/components/Panel.svelte";
    import {goto} from "$app/navigation";
    import {token} from "$lib/stores";
    import {API_URL} from "$lib/api";

    let email = '';
    let password = '';

    const handleSubmit = async (event: Event) => {
        event.preventDefault();
        console.log('Logging in with', {email, password});


        const response = await fetch(`${API_URL}/auth/login`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({email, password}),
        });

        if (!response.ok) {
            console.error("Login failed");
            return
        }

        const data = await response.json();
        token.set(data.token)
        await goto('/');
    }
</script>

<Panel class="login">
    <Headline>Login</Headline>
    <form on:submit|preventDefault={handleSubmit}>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" bind:value={email} required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" bind:value={password} required/>
        </div>
        <button type="submit">Login</button>
    </form>
</Panel>

<style>
    :global(.login) {
        max-width: 400px;
        margin: auto;
        padding: 20px;
    }

    form {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #211F5B;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>
