<script lang="ts">
    import Panel from "$lib/components/Panel.svelte";
    import Headline from "$lib/components/Headline.svelte";
    import type {Chat} from "$lib";
    import link from '$lib/images/invite.png'

    const {chat}: { chat: Chat } = $props();

    function getLink() {
        return `${window.location.hostname}/chat/${chat?.id}/join`
    }

    async function copyLink() {
        if (chat.id != null) {
            await navigator.clipboard.writeText(getLink())
        }
    }
</script>

<Panel class="chat-info">
    <Headline>{chat ? chat.name : "Choose chat first" }</Headline>
    <button class="invite" onclick="{() => copyLink()}">
        <img src="{link}" alt="Copy chat link">
    </button>
</Panel>

<style>
    :global(.chat-info) {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        .invite {
            background-color: transparent;
            margin-right: 15px;
            cursor: pointer;

            img {
                width: 35px;
            }
        }
    }
</style>
