<script lang="ts">
    import Panel from "$lib/components/Panel.svelte";
    import Headline from "$lib/components/Headline.svelte";
    import bubble from "$lib/images/chat-bubble.png";
    import plus from '$lib/images/plus.png'
    import {Modal, Content, Trigger} from 'sv-popup'

    import type {Chat} from "$lib";
    import {createNewChat, fetchChats} from "$lib/api";
    import {token} from "$lib/stores";

    let name: string = $state('')
    let description: string | undefined = $state('')
    let chatClosed = $state(false)

    const {chats, onchoose, onnewchat}: { chats: Chat[], onchoose: (chat: Chat) => unknown, onnewchat: () => unknown } = $props()

    async function newChat(e: SubmitEvent) {
        e.preventDefault();
        await createNewChat($token, name, description)
        chatClosed = !chatClosed;
        onnewchat()
    }
</script>

<Panel class="chats">
    <div class="header">
        <Headline>Chats</Headline>
        <Modal small="{true}" close="{chatClosed}">
            <Content class="modal">
                <h2>Create new chat</h2>
                <form onsubmit={newChat}>
                    <div class="form-group">
                        <label for="name">Chat name</label>
                        <input type="text" id="name" minlength="3" bind:value={name} required/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description (or leave empty)</label>
                        <input type="text" id="description" bind:value={description}/>
                    </div>

                    <button type="submit">Register</button>
                </form>
            </Content>
            <Trigger>
                <button class="new">
                    <img src="{plus}" alt="Create new chat">
                </button>
            </Trigger>
        </Modal>
    </div>
    {#each chats ?? [] as chat}
        <!-- svelte-ignore a11y_click_events_have_key_events -->
        <div class="chat" onclick="{() => onchoose(chat)}" role="button" tabindex="{chat.id}">
            <img class="icon" src="{bubble}" alt="Chat Bubble Icon">
            <div class="info">
                <h2 class="name">{chat.name}</h2>
            </div>
        </div>
    {/each}
</Panel>

<style lang="scss">
  :global(.chats) {
    display: flex;
    flex-direction: column;
    flex: 1;

    .header {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

    .new {
      background-color: transparent;
      margin-right: 15px;
      cursor: pointer;

      img {
        width: 25px;
      }
    }

    .chat {
      display: flex;
      align-items: center;
      flex-direction: row;

      cursor: pointer;

      padding: 10px 15px;
      gap: 15px;

      &:hover {
        background-color: #211F5B;
      }


      .icon {
        width: 30px;
        height: 30px;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }

  :global(.modal) {
    background-color: #131234;
    padding: 15px;

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 15px 0 0 0;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #211F5B;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
</style>
