<script lang="ts">
    import Panel from "$lib/components/Panel.svelte";
    import Headline from "$lib/components/Headline.svelte";
    import type {User} from "$lib";
    import user from "$lib/images/user.png";

    const {members}: { members: User[] } = $props()
</script>

<Panel class="members">
    <Headline>Chat members</Headline>
    <div class="list">
        {#each members as member (member.id)}
            <div class="member">
                <img class="icon" src="{user}" alt="User Icon">
                <div class="info">
                    <h2 class="name">{member.name}</h2>
                    <p class="nickname">{member.username}</p>
                </div>
            </div>
        {/each}
    </div>
</Panel>

<style lang="scss">
    .list {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .member {
        display: inline-flex;
        align-items: center;
        padding: 0 15px;
        gap: 15px;

        .info {
          display: flex;
          flex-direction: column;
          gap: 0;
        }

        .icon {
          width: 35px;
          height: 35px;
        }

        h2 {
          font-size: 18px;
          font-weight: 500;
        }

        p {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
</style>
