<script lang="ts">
    import Panel from "$lib/components/Panel.svelte";
    import {fly} from 'svelte/transition';

    import type {Message} from "$lib";
    import {Modal, Content, Trigger} from "sv-popup";
    import {API_URL} from "$lib/api";

    const {messages}: { messages: Message[] } = $props()
</script>

<Panel class="messages">
    {#each [...messages].reverse() as message (message.id)}
        <div class="message" in:fly={{ y: 20, duration: 150 }}>
            <p><span class="username">{message.user.name}</span>: {message.content}</p>
            {#if message.attachments && message.attachments.length > 0}
                <div class="attachments">
                    {#each message.attachments as at}
                        <Modal big="{true}" button="{false}">
                            <Content>
                                <div class="max">
                                    <img src="{API_URL}/attachments/{at}" alt="Attachment">
                                </div>
                            </Content>
                            <Trigger>
                                <img class="attachment-preview" src="{API_URL}/attachments/{at}"
                                     alt="Attachment preview">
                            </Trigger>
                        </Modal>
                    {/each}
                </div>
            {/if}
        </div>
    {/each}
</Panel>

<style lang="scss">
  :global(.messages) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    overflow-y: auto;
    height: 100%;
  }

  .message {
    .username {
      font-weight: 500;
      color: #8B8DA7;
    }
  }

  .attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    .attachment-preview {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 4px;
      cursor: pointer;
      background-color: #f0f0f0;
    }
  }

  :global(.max) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    max-width: 90vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      max-width: 100%;
      max-height: 80vh;
      object-fit: contain;
      border-radius: 4px;
    }
  }
</style>
