<script lang="ts">
    import Panel from "$lib/components/Panel.svelte";
    import SendIcon from '$lib/images/send-message.png';
    import AttachmentIcon from '$lib/images/attachment.png';
    import {writable} from "svelte/store";
    import {uploadAttachment} from "$lib/api";
    import {token} from "$lib/stores";
    import {Modal, Content, Trigger} from "sv-popup";

    const input = writable<string>("");
    const attachmentIds = writable<string[]>([]); // Список UUID вложений
    const attachments = writable<File[]>([]); // Список прикрепленных файлов

    let {available, onsend}: {
        available: boolean,
        onsend: (input: string, attachmentIds: string[]) => void | Promise<void>
    } = $props();

    async function onSend() {
        await onsend($input, $attachmentIds);
        $input = "";
        $attachmentIds = [];
        $attachments = [];
    }

    async function onFileChange(event: Event) {
        const target = event.target as HTMLInputElement;
        if (target.files) {
            const files = Array.from(target.files).filter(file => file.type.startsWith('image/'));
            if (files.length > 0) {
                const newAttachmentIds: string[] = [];
                for (const file of files) {
                    const uuid = await uploadAttachment($token, file);
                    newAttachmentIds.push(uuid);
                }
                attachmentIds.update(ids => [...ids, ...newAttachmentIds]);
                attachments.update(attachments => [...attachments, ...files]);
            }

            target.value = '';
        }
    }

    function removeAttachment(index: number) {
        attachmentIds.update(ids => ids.filter((_, i) => i !== index));
        attachments.update(files => files.filter((_, i) => i !== index));
    }

    function handleKeydown(event: KeyboardEvent) {
        if (event.key === 'Enter') {
            if (event.shiftKey) {
               //---- input.update(value => value + '\n');
            } else {
                event.preventDefault();
                onSend();
            }
        }
    }

</script>

<Panel class="message-input">
    <div class="preview">
        {#each $attachments as file, index}
            <Modal big={true} button={false}>
                <Content>
                    <div class="max">
                        <p>Attachment Id: {$attachmentIds.find((_, i) => i === index)}</p>
                        <img src="{URL.createObjectURL(file)}" alt="Attachment Preview">
                        <button onclick="{() => removeAttachment(index)}">Remove attachment</button>
                    </div>
                </Content>
                <Trigger>
                    <img class="attachment-preview" src="{URL.createObjectURL(file)}" alt="Attachment Preview">
                </Trigger>
            </Modal>
        {/each}
    </div>
    <div class="wrapper">
        <input type="file" id="file-input" multiple accept="image/*" onchange="{onFileChange}" hidden/>
        <textarea name="message" id="message" placeholder="Type your message here" bind:value={$input} onkeydown="{handleKeydown}"></textarea>
        <div class="buttons">
            <button class="attach" onclick="{() => document.getElementById('file-input')?.click()}">
                <img src="{AttachmentIcon}" alt="Attachment Icon">
            </button>
            <button class="send" disabled="{$input.length === 0 && !available}" onclick="{onSend}">
                <img src="{SendIcon}" alt="Send Icon">
            </button>
        </div>
    </div>
</Panel>

<style>
    :global(.max) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 90vh;
        max-width: 90vw;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
            max-width: 100%;
            max-height: 80vh;
            object-fit: contain;
            border-radius: 4px;
        }

        button {
            margin-top: 10px;
            background-color: #dc0752;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    :global(.message-input) {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .wrapper {
            display: inline-flex;
            gap: 15px;
        }

        .preview {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 10px;

            .attachment-preview {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 4px;
                cursor: pointer;
                position: relative;
                background-color: #f0f0f0;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        textarea {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            padding: 10px;
            color: white;
            outline: none;
            background-color: transparent;
            flex: 1;
        }

        .buttons {
            display: inline-flex;
            gap: 15px;
        }

        .attach, .send {
            padding: 15px;
            background-color: transparent;
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;

                img {
                    filter: grayscale(1);
                }
            }

            img {
                transition: all 0.25s ease-in-out;
                width: 30px;
            }
        }
    }
</style>
