<script lang="ts">
    import Panel from "$lib/components/Panel.svelte";
    import { logout as apiLogout } from "$lib/api";
    import { token } from '$lib/stores';

    import type {User} from "$lib";
    import {goto} from "$app/navigation";
    const {user}: { user: User } = $props()

    console.log('user from component is', user)

    function logout() {
        apiLogout($token)
        localStorage.removeItem("token");
        goto("/auth/login")
    }
</script>

<Panel class="user">
    <div class="info">
        <h2 class="name">{user?.name}</h2>
        <p class="username">@{user?.username}</p>
    </div>
    <button class="logout" onclick="{logout}">Log out</button>
</Panel>

<style lang="scss">
  :global(.user) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex: 1;
    gap: 0;
    padding: 15px;

    .name {
      font-size: 18px;
    }

    .username {
      color: #8B8DA7;
      font-size: 14px;
    }

    .logout {
      cursor: pointer;
      background-color: #09081A;
      border: 2px solid #211F5B;
      border-radius: 4px;
      color: white;
      padding: 10px 20px;
    }
  }
</style>
