<script lang="ts">
    import Headline from "$lib/components/Headline.svelte";
    import Panel from "$lib/components/Panel.svelte";
    import {token} from "$lib/stores";
    import {goto} from "$app/navigation";
    import {API_URL} from "$lib/api";

    let username = '';
    let email = '';
    let name = '';
    let password = '';

    const handleSubmit = async (event: Event) => {
        event.preventDefault();

        console.log('Registering with', { username, name, password });
        const response = await fetch(`${API_URL}/auth/register`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, username, name, password }),
        });

        if (!response.ok) {
            console.error("unsuccessful register")
            return
        }

        const data = await response.json();
        token.set(data.token)
        await goto("/")
    };
</script>

<Panel class="register">
    <Headline>Register</Headline>
    <form on:submit|preventDefault={handleSubmit}>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" bind:value={username} required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" bind:value={email} required />
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" bind:value={name} required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" bind:value={password} required />
        </div>
        <button type="submit">Register</button>
    </form>
</Panel>

<style>
    :global(.register) {
        max-width: 400px;
        margin: auto;
        padding: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #211F5B;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>
