<slot/>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    :global(*) {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }

    :global(body) {
        font-family: 'Inter', sans-serif;
        color: white;
        background-color: #09081A;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
