<script lang="ts">
    import UserPanel from "$lib/components/panels/UserPanel.svelte";
    import type {Chat, Message, User} from "$lib";
    import ChatListPanel from "$lib/components/panels/ChatListPanel.svelte";
    import ChatInfoPanel from "$lib/components/panels/ChatInfoPanel.svelte";
    import MessagePanel from "$lib/components/panels/MessagePanel.svelte";
    import MessageInputPanel from "$lib/components/panels/MessageInputPanel.svelte";
    import { writable, get } from "svelte/store";
    import {createMessage, fetchChats, fetchMembers, fetchMessages} from "$lib/api";
    import { goto } from "$app/navigation";
    import { token, user, chats } from "$lib/stores";
    import MemberPanel from "$lib/components/panels/MemberPanel.svelte";

    const chat = writable<Chat>(undefined);
    const chatMessages = writable<Map<number, Message[]>>(new Map());
    const members = writable<User[]>(new Map());
    const messages = writable<Message[]>([]);

    let currentChatId: number | null = null;
    let intervalId: number | null = null;

    chat.subscribe(async (c) => {
        if (c) {
            currentChatId = c.id;
            if (intervalId) clearInterval(intervalId);

            const chatMsgs = get(chatMessages);
            if (!chatMsgs.has(c.id)) {
                const newMessages = await fetchMessages(c.id, $token);
                chatMsgs.set(c.id, newMessages);
                chatMessages.set(chatMsgs);
            }
            messages.set(chatMsgs.get(c.id) ?? []);

            const mems = await fetchMembers(c.id, $token);
            members.set(mems);

            intervalId = setInterval(async () => {
                const newMessages = await fetchMessages(c.id, $token);
                chatMessages.update((msgs) => {
                    msgs.set(c.id, newMessages);
                    if (currentChatId === c.id) {
                        messages.set(newMessages);
                    }
                    return msgs;
                });
            }, 1000);
        } else {
            currentChatId = null;
            messages.set([]);
            if (intervalId) clearInterval(intervalId);
        }
    });

    $effect(() => {
        console.log("effect token", $token);
        if (!$token) {
            goto('/auth/login');
        }
    });

    function chatChanged(newChat: Chat) {
        $chat = newChat;
    }

    async function newChat() {
        chats.set(await fetchChats($token));
    }

    async function sendMessage(input: string, attachments: string[]) {
        await createMessage($token, $chat.id, input, attachments);
    }
</script>

{#if $token}
    <div class="wrapper">
        <section class="bar left">
            <UserPanel user="{$user}" />
            <ChatListPanel chats="{$chats}" onchoose="{chatChanged}" onnewchat="{newChat}" />
        </section>
        <section class="bar center">
            <ChatInfoPanel chat="{$chat}" />
            <MessagePanel messages="{$messages}" />
            <MessageInputPanel available="{$chat == null}" onsend="{sendMessage}" />
        </section>
        <section class="bar right">
            <MemberPanel members="{$members}"/>
        </section>
    </div>
{:else}
    <p style="text-align: center;">Not authorized.<br />Redirecting...</p>
{/if}

<style>
    .wrapper {
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 30px;
        gap: 20px;
    }

    .bar {
        height: 100%;
        min-width: 200px;

        display: flex;
        flex-direction: column;
        flex: 1;

        gap: 15px;

        &.center {
            flex: 8; /* Увеличиваем flex для центральной панели */
        }
    }

    .bar {
        height: 100%;
        min-width: 200px;

        display: flex;
        flex-direction: column;
        flex: 1;

        gap: 15px;

        &.center {
            flex: 3; /* Увеличиваем flex для центральной панели */
        }
    }

    :global(.user),
    :global(.chat-info),
    :global(.message-input) {
        flex: 0 0 80px; /* Устанавливаем фиксированную высоту 80px для этих блоков */
    }

    :global(.chats) {
        flex: 1;
    }

    :global(.messages) {
        flex: 9;
    }

    :global(.members) {
        height: 100%;
    }
</style>
