<script lang="ts">
    import type {Snippet} from 'svelte'

    let {class: clazz = '', children}: { class: string, children?: Snippet } = $props();
</script>

<div class="panel {clazz}">
    {#if children}
        {@render children()}
    {/if}
</div>

<style>
    .panel {
        border-radius: 10px;
        background-color: #131234;
        border: 2px solid #211F5B;
    }
</style>
