<script>
    import {joinChat} from "$lib/api";
    import {token} from "$lib/stores";
    import {goto} from "$app/navigation";
    import {page} from "$app/stores";
    import {get} from "svelte/store";

    $effect(() => {
        if (!$token) {
            goto("/auth/login")
        }

        const slug = $page.params.slug
        joinChat(get(token), parseInt(slug))

        setTimeout(() => {
            goto("/")
        }, 3000)
    })
</script>

<p>Successfully joined the chat. Redirecting...</p>
